body {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

header a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}

#featured-property p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

#details div {
  text-align: center;
  width: 25%;
  float: left;

  background-color: red;
}
